# ---------------------------------------------------------------------------- #
#                                    Custom                                    #
# ---------------------------------------------------------------------------- #

# Freezed
*.freezed.dart
*.g.dart

# Generated code
generated*
Generated*
*.mocks.dart

# Test coverage
lcov.info

# Local-only files


# ---------------------------------------------------------------------------- #
#                                    Default                                   #
# ---------------------------------------------------------------------------- #

# Files and directories created by pub.
.dart_tool/
.packages

# Conventional directory for build outputs.
build/

# Omit committing pubspec.lock for library packages; see
# https://dart.dev/guides/libraries/private-files#pubspeclock.
pubspec.lock
